<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Rabbit Birthday Surprise</title>
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
  
<!-- partial:index.partial.html -->
<div id="drag-container">
  <div id="spin-container">
<!-- 
    <img src="https://iili.io/HTjH72V.jpg" alt="">
    <img src="https://iili.io/HTjHCk7.jpg" alt="">
    <img src="https://iili.io/HTjH3Bf.jpg" alt="">
    <img src="https://iili.io/HTjHKrl.jpg" alt="">
    <img src="https://iili.io/HTjHRrQ.jpg" alt="">
    <img src="https://iili.io/HTjHAEx.jpg" alt=""> -->
    
    <img src="/static/img1.jpg" alt="">
    <img src="/static/img2.jpg" alt="">
    <img src="/static/img3.jpg" alt="">
    <img src="/static/img4.jpg" alt="">
    <img src="/static/img5.jpg" alt="">
    <img src="/static/img6.jpg" alt="">
    <p>  Happy birthday, cutie!&#x1F60D; 
    You’re not just a pretty girl; 
    you’re the prettiest girl!
    I hope your birthday is as 
    sweet and beautiful as you!&#x2764;</p>
  </div>
  <div id="ground"></div>
</div>

<div id="music-container"></div>
<!-- <button id="playButton"onclick="playAudio()" style="
color: black;
background: #0c0c0c;
border: aliceblue;">Play</button> -->

<audio id="myAudio">
  <source src="/static/happy.mp3" type="audio/mpeg">
</audio>
<script>
  document.addEventListener("click", function(){
    playAudio();
  })
</script>

<!-- github corner (https://github.com/tholman/github-corners) -->
<style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>
<!-- partial -->
  <script  src="/static/ind.js"></script>

</body>
